<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

### Exercise 10 - Insert a markdown cell to list Objectives

#### **Objectives:**
_In this final assignment, you will:_

* Create a Jupyter Notebook

* Insert code and markdown cells

* Share your notebook through GitHub

Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python.
2. SQL.
3. R.
4. VBA (Visual Basic for Applications)
5. Julia.
6. Scala.

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. NumPy.
2. Matplotlib.
3. Pandas.
4. SciPy.
5. PyTorch.
6. Seaborn.

Exercise 6 - Create a markdown cell with a table of Data Science tools


| | Data Science Tools  | 
|---:|:-------------|
| 1 | Pandas | 
| 2 | Hadoop  | 
| 3 | TensorFlow.js  |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

Exercise 8 - Create a code cell to multiply and add numbers

In [13]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

In [14]:
# This will convert 200 minutes to hours by diving by 60
min=200
h=min//60
m=min%60
print("Hours=",h)
print("Minutes=",m)

Hours= 3
Minutes= 20

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Mei